body{
	background-color: #fffdd099; 
	font-family: "Verdana", Sans-serif;
}

h1{
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 1.15em;
	font-weight: normal;
	margin-left: 20px; 
	margin-bottom: 10px;
}

.inputs{
	text-align: center;
} 

input{
	margin: 5px;
	font-size: 1em;
} 
.button{
	text-align: center;
	margin-top: 15px;
	
} 

.button button{
	background-color: #800000; 
	color: #fffdd0; 
	font-size: 0.9em;
	font-weight: bold;
} 

.field{
	margin-top: 50px;
}

.addedP{
	margin: 5px;
	font-size: 1em;
	text-align: center;
}

.userBox{
	background-color: #348FD5C8;
	border-radius: 25px;
	padding: 6px 6px; 
}

.adminBox{ 
	background-color: #348FD5C8;
	border-radius: 25px;
	padding: 6px 6px; 
 }
